body {
    background-color:  transparent;
}

#ui-btn
.footer-btn-left {
  position: absolute;
  left: 0.4em;
}
.footer-btn-right {
  position: absolute;
  right: 0.4em;
}

.ui-header {
  z-index:100
}

.ui-content {
  position: relative;
  z-index:100
}

.loginformspace{
  margin-top:50%;
}

.fullscreen-bg__video {
  opacity: 0.65;
  position: absolute;
     top: 50%;
     left: 50%;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     -ms-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
     -webkit-transform: translateX(-50%) translateY(-50%);
     transform: translateX(-50%) translateY(-50%);
     background: url(polina.jpg) no-repeat;
     background-size: cover;
}

#dataToday, #dataTomorrow {

  width: 80%;
  margin:0 auto;
  text-align: left;
  background-color: mediumspringgreen;
  text-indent: 11px;
  padding:5px;
  border-radius: 10px;

}

#today, #tomorrow {
  text-indent: 10px;
}

#nextItem {
  width:90%;
  background-color: lightgreen;
  border-radius: 10px;
  padding:5px;
}
