body {
	margin-bottom: 80px;
	background-repeat: no-repeat;
	background-size: 100%;
	}
html{
	background-size:cover;
}


/*And then change */
 .img-responsive {
    display: block;
    height: auto;
    width: 100%;
	max-height: 550px;
}  

/*For a video*/
.background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

.jumbotron1 {
   background: rgb(40, 20, 0); /* This is for ie8 and below */
   background: rgba(40, 20, 0, 0.5); 
}


.font1{
	font-family: 'Lobster', cursive;
}

.font2{
	font-family: 'Indie Flower', cursive;
}
.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}