body {
	margin-bottom: 80px;
}

/*And then change */
 .img-responsive {
    display: block;
    height: auto;
    width: 100%;
	max-height: 530px;
	
}  
.img-QA{
	display: block;
	height: 300px;
	width: 250px;
}
.navbar-fnt {
    color: #CC3333;
}
.navbar-backgrnd {
    color: #DF7401;
}