body {
	margin-bottom: 80px;
	background-repeat: no-repeat;
	background-size: 100%;
	}
html{
	background-size:cover;
}
th{
	text-align: center;
	width: 15%;
}


/*And then change */
 .img-responsive {
    display: block;
    height: auto;
    width: 100%;
	max-height: 550px;
}  

.img-size{
	height: 360px;
	width: 360px;
}

/*For a video*/
.background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

.jumbotron1 {
   background: rgb(40, 20, 0); /* This is for ie8 and below */
   background: rgba(40, 20, 0, 0.5); 
}


.font1{
	font-family: 'Lobster', cursive;
	color: #FFFFFF;
	text-align: center;
}

.font2{
	font-family: 'Lobster', cursive;
	color: #F5D0A9;
}
.font3{
	font-family: 'Lobster', cursive;
	color: #69249A;
}
.font4{
	font-family: 'Lobster', cursive;
	color: #008080;
	text-align: center;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0.05, #f22), color-stop(0.2, #ff2),  color-stop(0.45, #2f2),color-stop(0.5, #2f2), color-stop(0.75, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
}

.table1{
	width: 80%;
	text-align: center;
	vertical-align: middle;
	
}

.vertical-center{
	margin: auto;
	position: absolute;
	top: 15%; left: 0; bottom: 0; right: 0;
}